body {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-family: 'Cabin', sans-serif;
    min-width: 300px;
}

.header {
    background: url('img/home.jpg') no-repeat center center;
    text-align: center;
    width: 100%;
    color: white;
}

.header .message {
    padding: 200px 10px 20px 10px;
    font-size: 3em;
    line-height: 60px;
}

.header .sub-message {
    padding: 30px 10px 200px 10px;
    font-size: 2em;
    max-width: 650px;
    margin: auto;
    line-height: 50px;
}

.download {
    background: url("img/download.jpg");
    color: #FFFFFF;
    text-align: center;
}

.download .message {
    font-size: 1.5em;
    padding: 100px 10px 20px 10px;
}

.download .sub-message {
    padding: 10px 10px 20px 10px;
    color: #1ABC9C;
}

.download .download-android-app {
    padding: 10px 0 100px 0;
}

.carousel-button {
    background: url("img/carousel.jpg");
    height: 100px;
    width: 600px;
    max-width: 520px;
    margin: auto;
}

.carousel-button .button {
    border: 1px solid #1ABC9C;
}

.padding-top {
    padding-top: 100px;
}

.button {
    height: 50px;
    width: 250px;
    padding-top: 25px;
    text-align: center;
    background-color: #1ABC9C;
    border-radius: 3px;
    cursor: pointer;
    margin: auto;
}

.carousel-button .button {
    float: left;
}

.carousel-button .button:nth-of-type(1) {
    margin-right: 16px;
}

.carousel {
    background: url("img/carousel.jpg");
}

.subscribe {
    text-align: center;
    color: white;
    background: url("img/download.jpg");
    padding-bottom: 50px;
}

.subscribe .message {
    padding: 100px 10px 30px 10px;
    font-size: 1.5em;
}

.subscribe .sub-message {
    padding: 10px 10px 30px 10px;
    color: #1ABC9C;
}

.subscribe .type {
    max-width: 360px;
    margin: auto;
    padding: 10px 0 30px 0px;
}

.subscribe .type .type-item:nth-of-type(1) {
    padding-left: 0;
}

.subscribe .type .type-item {
    float: left;
    position: relative;
    padding-left: 40px;
    padding-top: 10px;
}

.type img {
    position: absolute;
    left: 10px;
    top: 5px;
    display: none;
}

.type .selected img {
    display: block;
}

.type .select-box {
    position: absolute;
    left: 10px;
    top: 13px;
    height: 17px;
    width: 18px;
    border: solid 2px white;
}

.error .select-box {
    border-color: #F44336;
}

.type .selected .select-box {
    display: none;
}

.type-item {
    cursor: pointer;
}

.fourmeez-ee {
    color: #1ABC9C;
}

.app-name {
    text-transform: uppercase;
}

.highlight-light {
    color: white;
}

.email-input {
    margin: 30px auto 50px auto;
    width: 80%;
    max-width: 700px;
    height: 40px;
    border-radius: 3px;
    border: solid white;
    color: #2B2B2B;
    padding: 0 5px;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.subscribe .button {
    margin: 0 auto 40px auto;
}

.footer {
    background: url("img/carousel.jpg");
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}

.contact-link {
    height: 50px;
    border: solid 1px #AFAFAF;
    border-radius: 3px;
    width: 250px;
    padding-top: 20px;
    margin: auto;
    cursor: pointer;
}

.connect-links {
    padding-top: 30px;
}

.connect-link {
    padding-top: 10px;
}

.copyright {
    padding-top: 30px;
}

.carousel-item {
    color: white;
    text-align: center;
    width: 180px;
    float: left;
    height: 380px;
    padding: 50px 10px 100px 10px;
    margin: auto;
}

.carousel-item .message {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    font-size: 1.3em;
}

.carousel-item .sub-message {
    margin-top: 20px;
}

.carousel-item .image {
    width: 150px;
    border-radius: 80px;
    padding-top: 40px;
    height: 110px;
    background: #526671;
    border: 1px solid #1ABC9C;
    margin: auto;
}

.carousel-items {
    width: 600px;
    margin: auto;
}

.type0 #type1-button {
    background-color: #526671;
}

.type0 #type1-content {
    display: none;
}

@media (min-width: 600px) {
    #type3-button {
        display: none;
    }
}

@media (max-width: 600px) {
    .carousel-button {
        width: auto;
    }

    .carousel-item {
        float: inherit;
        border-radius: 3px;
        background: url("img/download.jpg");
        padding: 10px 0;
        margin: 20px auto;
        height: auto;
    }
    #type0-button {
        float: inherit;
        margin: auto;
    }
    #type1-button {
        display: none;
    }
    #type3-button {
        display: block;
        margin: 50px auto;
    }
    .carousel-items {
        width: auto;
    }
    .type0 #type1-content {
        display: block;
    }

    .carousel {
        padding: 50px 0;
    }

    .subscribe .type {
        width: 230px;
    }

    .header .message {
        padding-top: 50px;
    }

    .header .sub-message {
        padding-bottom: 50px;
    }

    .download .message {
        padding-top: 50px;
    }

    .download .download-android-app {
        padding-bottom: 50px;
    }

    .subscribe {
        padding-bottom: 1px;
    }

    .subscribe .message {
        padding-top: 50px;
    }

    .footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .padding-top {
        padding-top: 30px;
    }

    .header .message {
        font-size: 2em;
    }

    .header .sub-message {
        font-size: 1.5em;
    }
}

.type1 #type0-button {
    background-color: #526671;
}

.type1 #type0-content {
    display: none;
}

.error {
    color: #F44336;
}

.submitted {
    color: #1ABC9C;
    padding: 0 20px 96px 10px;
    display: none;
}

.email-input.error {
    border: solid #F44336;
}